.button-container {
    outline: none;
    background: #4287f5;
    padding: 1.2rem 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button-container:active {
    transform: scale(0.9);
}