.cart-dropdown-item-container {
    width: 100%;
    height: 8rem;
    /* background: lightseagreen; */
    display: grid;
    grid-template-columns: 35fr 65fr;
}

.cart-dropdown-item-img  {
    /* background: lightgrey; */
}

.cart-dropdown-item-info {
    align-items: start;
    padding-left: 1rem;
}